header {
  background-color: navy;
  width: 100%;
  height: 100px;
}

main {
  width: 80%;
  height: 1000px;
  background-color: aqua;
  margin: auto;
  box-shadow: 2 2 2 2;
}

body {
  background-color: #afddf0;
}

.objeto {
  background-color: #dfdfdf;
  width: 60px;
  height: 100px;
}